<mat-nav-list>
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Promotion">Promotions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Qualificatif">Qualificatifs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Rubriques">Rubriques</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Questions">Questions</a>

    <mat-divider></mat-divider> 

    <h2 matSubheader>Outils</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>


</mat-nav-list>
