<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
        <h2>Liste des étudiants</h2>
        
 
<table class="table">
    <thead>
      <tr>
        <th>N° Etudiant</th>
        <th>Nom et Prénom</th>
        <th>
          <button type="button" class="btn btn-success col-md-4" 
          (click)="addEtudiant()">Ajouter</button>
      
        </th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of etudiants;">
        <td>{{e.noEtudiant}}</td>
        <td>{{e.nom}} {{e.prenom}}</td>
        <td><!--<button type="button" class="btn btn-danger" style="margin-right: 9px;" (click)="delete(p.promotionPK)">X</button>-->
            <button type="button" class="btn btn-success col-md-4" style="margin-right: 9px;"(click)="showEtudiant(e.noEtudiant)">détail</button>
            <button type="button" class="btn btn-info col-md-4" style="margin-right: 9px;" (click)="updateEtudiant(e.noEtudiant)">modifier</button></td>
      </tr>
      
    </tbody>
  </table>

</div>

</body>
</html>