<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/47b33d33da.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
</head>

<body style="height: fit-content;">
  <div class="container" style=" width: inherit; ">
    <form class="well form-horizontal" [formGroup]="myForm">
      <fieldset>

        <!-- Form Name -->

        <!-- Text input-->
        <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px;">
          <h4>Informations de base</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">N° étudiant</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="numeroEtudiant" id="numeroEtudiant" formControlName="numeroEtudiant"
                  placeholder="Numero étudiant" class="form-control" type="text" [value]="numeroEtudiant" disabled>
              </div>


            </div>
          </div>

          <!-- Text input-->

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Civilité</label>
            <div class="col-md-7 selectContainer">
              <div class="input-group">
                <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i></span>
                <input id = "sex" name="sex" formControlName="sex" [value]="sex" class="form-control selectpicker" disabled>
              </div>
            </div>
          </div>
        </div>

        <!-- Text input-->



        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Nom</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="nom" formControlName="nom" id="nom" ng-model="nom"  placeholder="Nom" class="form-control"
                  type="text" [value]="nom" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Prénom</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="prenom" formControlName="prenom" id="prenom" placeholder="Prénom"
                 class="form-control" type="text" [value]="prenom" disabled>
              </div>
            </div>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Date de Naissance</label>
            <div class="inputGroupContainer col-md-7">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input name="date_naissance" formControlName="dateNaissance" id="dateNaissance" placeholder="Username" class="form-control"
                  type="text" [value]="dateNaissance" disabled>
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Lieu de Naissance</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="lieu_naissance" formControlName="lieuNaissance" id="lieuNaissance" placeholder="Lieu Naissance"
                  class="form-control" type="text" [value]="lieuNaissance" disabled>
              </div>
            </div>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Nationalité</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                <input name="nationalite" formControlName="nationalite" id="nationalite" class="form-control selectpicker"
                [value]="nationalite" disabled>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Pays d'origine</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                <input name="paysOrigine" formControlName="paysOrigine" id="paysOrigine" 
                class="form-control selectpicker" [value]="paysOrigine" disabled>
                  
              </div>
            </div>
          </div>
        </div>
        <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px;">
          <h4>Contact</h4>
        </div>
        <div class="form-row">
          <!-- Text input-->
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" formControlName="email" id="email" placeholder="E-Mail Address" class="form-control"
                  type="email" [value]="email" disabled>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">E-Mail UBO</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email_ubo" formControlName="emailUbo" id="emailUbo" placeholder="E-Mail Address" class="form-control"
                  type="email" [value]="emailUbo" disabled>
              </div>
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Mobile</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input name="num_portable" formControlName="numPortable" id="numPortable" placeholder="Mobile" class="form-control"
                  type="text" [value]="numPortable" disabled>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Fixe</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                <input name="num_fixe" formControlName="numFixe" id="numFixe" placeholder="Fixe" 
                class="form-control" type="text" [value]="numFixe" disabled>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-md-1 control-label">Adresse</label>
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input name="adresse" formControlName="adresse" id="adresse" placeholder="Adresse" 
                class="form-control" type="text" [value]="adresse" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Code Postal</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input name="code_postal" formControlName="codePostal" id="codePostal" placeholder="Code Postal" class="form-control"
                  type="text" [value]="codePostal" disabled>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Ville</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input name="ville" formControlName="ville" id="ville" placeholder="ville" class="form-control"
                 type="text" [value]="ville" disabled>
              </div>
            </div>
          </div>
        </div>
        <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px;">
          <h4>Pédgogique</h4>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Groupe TP</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input name="groupe_tp" formControlName="groupeTp" id="groupeTp" placeholder="Groupe TP" class="form-control"
                  type="text" [value]="groupeTp" disabled>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-4">Groupe Anglais</label>
            <div class="inputGroupContainer col-md-7">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input name="groupe_anglais" formControlName="groupeAnglais" id="groupeAnglais" placeholder="Groupe Anglais"
                  class="form-control" type="text" [value]="groupeAnglais" disabled>
              </div>
            </div>
          </div>





          <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Université d'origine</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                <input name="universiteOrigine" formControlName="universiteOrigine" id="universiteOrigine" 
                class="form-control selectpicker" [value]="universiteOrigine" disabled>
              </div>
            </div>  
          </div>
        </div>

        <!-- Select Basic -->

      </fieldset>
    </form>
  </div>


</body>

</html>