<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
        <h2>Liste des étudiants</h2>
        
           <div class="text-right mb-3">
    <button type="button" class="btn btn-success" 
    onclick="window.location.href='http://localhost:4200/form'">Ajouter</button>
 
</div>
  <table class="table">
    <thead>
      <tr>
        <th>Numéro d'étudiant</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Opérations</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let etudiant of etudiants">
          <td>{{ etudiant.noEtudiant }}</td>
          <td>{{ etudiant.nom }}</td>
          <td>{{ etudiant.prenom }}</td>
          <td><button type="button" id="supp" class="btn btn-success"
            (click)="detail(etudiant.noEtudiant)"
            >Détails</button>
          	<button type="button" class="btn btn-info" (click)="update(etudiant)">Modifier</button>
          </td>
          
        </tr>
      </tbody>
  </table>
  <div *ngIf="empty" class="alert alert-danger" role="alert">
    <ul>
      cette liste est vide
    </ul>
  </div>
</div>

</body>
</html>