<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/47b33d33da.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
</head>

<body style="height: fit-content;">
  <div class="container" style=" width: inherit; ">
    <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px; margin-left: auto; margin-right: auto;">
      <h3>Ajouter un étudiant à la promotion : {{myPromotion.siglePromotion}}</h3>
    </div>
    <form class="well form-horizontal" [formGroup]="myForm">
      <fieldset>

        <!-- Form Name -->

        <!-- Text input-->
        <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px;">
          <h4>Informations de base</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">N° étudiant</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="numeroEtudiant" id="numeroEtudiant" formControlName="numeroEtudiant"
                  placeholder="Numero étudiant" class="form-control" type="text">
              </div>


            </div>
          </div>

          <!-- Text input-->

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Civilité</label>
            <div class="col-md-7 selectContainer">
              <div class="input-group">
                <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i></span>
                <select id="sex" name="sex" formControlName="sex" class="form-control selectpicker">
                  <option hidden>Civilité</option>
                  <option value="M">Monsieur</option>
                  <option value="F">Madame</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Text input-->



        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Nom</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="nom" formControlName="nom" id="nom" ng-model="nom" required placeholder="Nom"
                  class="form-control" type="text">
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Prénom</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="prenom" formControlName="prenom" id="prenom" placeholder="Prénom" class="form-control"
                  type="text">
              </div>
            </div>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Date de Naissance</label>
            <div class="inputGroupContainer col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input name="date_naissance" formControlName="dateNaissance" id="dateNaissance" placeholder="Username"
                  class="form-control" type="date">
              </div>
            </div>
          </div>

          <!-- Text input-->

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Lieu de Naissance</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="lieu_naissance" formControlName="lieuNaissance" id="lieuNaissance"
                  placeholder="Lieu Naissance" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Nationalité</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                <select name="nationalite" formControlName="nationalite" id="nationalite"
                  class="form-control selectpicker">


                  <option hidden>Seléctionner votre nationalité</option>
                  <option value="Afghane">Afghane (Afghanistan)</option>
                  <option value="Albanaise">Albanaise (Albanie)</option>
                  <option value="Algérienne">Algérienne (Algérie)</option>
                  <option value="Allemande">Allemande (Allemagne)</option>
                  <option value="Americaine">Americaine (États-Unis)</option>
                  <option value="Andorrane">Andorrane (Andorre)</option>
                  <option value="Angolaise">Angolaise (Angola)</option>
                  <option value="Antiguaise-et-Barbudienne">Antiguaise-et-Barbudienne (Antigua-et-Barbuda)</option>
                  <option value="Argentine">Argentine (Argentine)</option>
                  <option value="Armenienne">Armenienne (Arménie)</option>
                  <option value="Australienne">Australienne (Australie)</option>
                  <option value="Autrichienne">Autrichienne (Autriche)</option>
                  <option value="Azerbaïdjanaise">Azerbaïdjanaise (Azerbaïdjan)</option>
                  <option value="Bahamienne">Bahamienne (Bahamas)</option>
                  <option value="Bahreinienne">Bahreinienne (Bahreïn)</option>
                  <option value="Bangladaise">Bangladaise (Bangladesh)</option>
                  <option value="Barbadienne">Barbadienne (Barbade)</option>
                  <option value="Belge">Belge (Belgique)</option>
                  <option value="Belizienne">Belizienne (Belize)</option>
                  <option value="Béninoise">Béninoise (Bénin)</option>
                  <option value="Bhoutanaise">Bhoutanaise (Bhoutan)</option>
                  <option value="Biélorusse">Biélorusse (Biélorussie)</option>
                  <option value="Birmane">Birmane (Birmanie)</option>
                  <option value="Bissau-Guinéenne">Bissau-Guinéenne (Guinée-Bissau)</option>
                  <option value="Bolivienne">Bolivienne (Bolivie)</option>
                  <option value="Bosnienne">Bosnienne (Bosnie-Herzégovine)</option>
                  <option value="Botswanaise">Botswanaise (Botswana)</option>
                  <option value="Brésilienne">Brésilienne (Brésil)</option>
                  <option value="Britannique">Britannique (Royaume-Uni)</option>
                  <option value="Brunéienne">Brunéienne (Brunéi)</option>
                  <option value="Bulgare">Bulgare (Bulgarie)</option>
                  <option value="Burkinabée">Burkinabée (Burkina)</option>
                  <option value="Burundaise">Burundaise (Burundi)</option>
                  <option value="Cambodgienne">Cambodgienne (Cambodge)</option>
                  <option value="Camerounaise">Camerounaise (Cameroun)</option>
                  <option value="Canadienne">Canadienne (Canada)</option>
                  <option value="Cap-verdienne">Cap-verdienne (Cap-Vert)</option>
                  <option value="Centrafricaine">Centrafricaine (Centrafrique)</option>
                  <option value="Chilienne">Chilienne (Chili)</option>
                  <option value="Chinoise">Chinoise (Chine)</option>
                  <option value="Chypriote">Chypriote (Chypre)</option>
                  <option value="Colombienne">Colombienne (Colombie)</option>
                  <option value="Comorienne">Comorienne (Comores)</option>
                  <option value="Congolaise">Congolaise (Congo-Brazzaville)</option>
                  <option value="Congolaise">Congolaise (Congo-Kinshasa)</option>
                  <option value="Cookienne">Cookienne (Îles Cook)</option>
                  <option value="Costaricaine">Costaricaine (Costa Rica)</option>
                  <option value="Croate">Croate (Croatie)</option>
                  <option value="Cubaine">Cubaine (Cuba)</option>
                  <option value="Danoise">Danoise (Danemark)</option>
                  <option value="Djiboutienne">Djiboutienne (Djibouti)</option>
                  <option value="Dominicaine">Dominicaine (République dominicaine)</option>
                  <option value="Dominiquaise">Dominiquaise (Dominique)</option>
                  <option value="Égyptienne">Égyptienne (Égypte)</option>
                  <option value="Émirienne">Émirienne (Émirats arabes unis)</option>
                  <option value="Équato-guineenne">Équato-guineenne (Guinée équatoriale)</option>
                  <option value="Équatorienne">Équatorienne (Équateur)</option>
                  <option value="Érythréenne">Érythréenne (Érythrée)</option>
                  <option value="Espagnole">Espagnole (Espagne)</option>
                  <option value="Est-timoraise">Est-timoraise (Timor-Leste)</option>
                  <option value="Estonienne">Estonienne (Estonie)</option>
                  <option value="Éthiopienne">Éthiopienne (Éthiopie)</option>
                  <option value="Fidjienne">Fidjienne (Fidji)</option>
                  <option value="Finlandaise">Finlandaise (Finlande)</option>
                  <option value="Française">Française (France)</option>
                  <option value="Gabonaise">Gabonaise (Gabon)</option>
                  <option value="Gambienne">Gambienne (Gambie)</option>
                  <option value="Georgienne">Georgienne (Géorgie)</option>
                  <option value="Ghanéenne">Ghanéenne (Ghana)</option>
                  <option value="Grenadienne">Grenadienne (Grenade)</option>
                  <option value="Guatémaltèque">Guatémaltèque (Guatemala)</option>
                  <option value="Guinéenne">Guinéenne (Guinée)</option>
                  <option value="Guyanienne">Guyanienne (Guyana)</option>
                  <option value="Haïtienne">Haïtienne (Haïti)</option>
                  <option value="Hellénique">Hellénique (Grèce)</option>
                  <option value="Hondurienne">Hondurienne (Honduras)</option>
                  <option value="Hongroise">Hongroise (Hongrie)</option>
                  <option value="Indienne">Indienne (Inde)</option>
                  <option value="Indonésienne">Indonésienne (Indonésie)</option>
                  <option value="Irakienne">Irakienne (Iraq)</option>
                  <option value="Iranienne">Iranienne (Iran)</option>
                  <option value="Irlandaise">Irlandaise (Irlande)</option>
                  <option value="Islandaise">Islandaise (Islande)</option>
                  <option value="Israélienne">Israélienne (Israël)</option>
                  <option value="Italienne">Italienne (Italie)</option>
                  <option value="Ivoirienne">Ivoirienne (Côte d'Ivoire)</option>
                  <option value="Jamaïcaine">Jamaïcaine (Jamaïque)</option>
                  <option value="Japonaise">Japonaise (Japon)</option>
                  <option value="Jordanienne">Jordanienne (Jordanie)</option>
                  <option value="Kazakhstanaise">Kazakhstanaise (Kazakhstan)</option>
                  <option value="Kenyane">Kenyane (Kenya)</option>
                  <option value="Kirghize">Kirghize (Kirghizistan)</option>
                  <option value="Kiribatienne">Kiribatienne (Kiribati)</option>
                  <option value="Kittitienne et Névicienne">Kittitienne et Névicienne (Saint-Christophe-et-Niévès)
                  </option>
                  <option value="Koweïtienne">Koweïtienne (Koweït)</option>
                  <option value="Laotienne">Laotienne (Laos)</option>
                  <option value="Lesothane">Lesothane (Lesotho)</option>
                  <option value="Lettone">Lettone (Lettonie)</option>
                  <option value="Libanaise">Libanaise (Liban)</option>
                  <option value="Libérienne">Libérienne (Libéria)</option>
                  <option value="Libyenne">Libyenne (Libye)</option>
                  <option value="Liechtensteinoise">Liechtensteinoise (Liechtenstein)</option>
                  <option value="Lituanienne">Lituanienne (Lituanie)</option>
                  <option value="Luxembourgeoise">Luxembourgeoise (Luxembourg)</option>
                  <option value="Macédonienne">Macédonienne (Macédoine)</option>
                  <option value="Malaisienne">Malaisienne (Malaisie)</option>
                  <option value="Malawienne">Malawienne (Malawi)</option>
                  <option value="Maldivienne">Maldivienne (Maldives)</option>
                  <option value="Malgache">Malgache (Madagascar)</option>
                  <option value="Maliennes">Maliennes (Mali)</option>
                  <option value="Maltaise">Maltaise (Malte)</option>
                  <option value="Marocaine">Marocaine (Maroc)</option>
                  <option value="Marshallaise">Marshallaise (Îles Marshall)</option>
                  <option value="Mauricienne">Mauricienne (Maurice)</option>
                  <option value="Mauritanienne">Mauritanienne (Mauritanie)</option>
                  <option value="Mexicaine">Mexicaine (Mexique)</option>
                  <option value="Micronésienne">Micronésienne (Micronésie)</option>
                  <option value="Moldave">Moldave (Moldovie)</option>
                  <option value="Monegasque">Monegasque (Monaco)</option>
                  <option value="Mongole">Mongole (Mongolie)</option>
                  <option value="Monténégrine">Monténégrine (Monténégro)</option>
                  <option value="Mozambicaine">Mozambicaine (Mozambique)</option>
                  <option value="Namibienne">Namibienne (Namibie)</option>
                  <option value="Nauruane">Nauruane (Nauru)</option>
                  <option value="Néerlandaise">Néerlandaise (Pays-Bas)</option>
                  <option value="Néo-Zélandaise">Néo-Zélandaise (Nouvelle-Zélande)</option>
                  <option value="Népalaise">Népalaise (Népal)</option>
                  <option value="Nicaraguayenne">Nicaraguayenne (Nicaragua)</option>
                  <option value="Nigériane">Nigériane (Nigéria)</option>
                  <option value="Nigérienne">Nigérienne (Niger)</option>
                  <option value="Niuéenne">Niuéenne (Niue)</option>
                  <option value="Nord-coréenne">Nord-coréenne (Corée du Nord)</option>
                  <option value="Norvégienne">Norvégienne (Norvège)</option>
                  <option value="Omanaise">Omanaise (Oman)</option>
                  <option value="Ougandaise">Ougandaise (Ouganda)</option>
                  <option value="Ouzbéke">Ouzbéke (Ouzbékistan)</option>
                  <option value="Pakistanaise">Pakistanaise (Pakistan)</option>
                  <option value="Palaosienne">Palaosienne (Palaos)</option>
                  <option value="Palestinienne">Palestinienne (Palestine)</option>
                  <option value="Panaméenne">Panaméenne (Panama)</option>
                  <option value="Papouane-Néo-Guinéenne">Papouane-Néo-Guinéenne (Papouasie-Nouvelle-Guinée)</option>
                  <option value="Paraguayenne">Paraguayenne (Paraguay)</option>
                  <option value="Péruvienne">Péruvienne (Pérou)</option>
                  <option value="Philippine">Philippine (Philippines)</option>
                  <option value="Polonaise">Polonaise (Pologne)</option>
                  <option value="Portugaise">Portugaise (Portugal)</option>
                  <option value="Qatarienne">Qatarienne (Qatar)</option>
                  <option value="Roumaine">Roumaine (Roumanie)</option>
                  <option value="Russe">Russe (Russie)</option>
                  <option value="Rwandaise">Rwandaise (Rwanda)</option>
                  <option value="Saint-Lucienne">Saint-Lucienne (Sainte-Lucie)</option>
                  <option value="Saint-Marinaise">Saint-Marinaise (Saint-Marin)</option>
                  <option value="Saint-Vincentaise et Grenadine">Saint-Vincentaise et Grenadine (Saint-Vincent-et-les
                    Grenadines)</option>
                  <option value="Salomonaise">Salomonaise (Îles Salomon)</option>
                  <option value="Salvadorienne">Salvadorienne (Salvador)</option>
                  <option value="Samoane">Samoane (Samoa)</option>
                  <option value="Santoméenne">Santoméenne (Sao Tomé-et-Principe)</option>
                  <option value="Saoudienne">Saoudienne (Arabie saoudite)</option>
                  <option value="Sénégalaise">Sénégalaise (Sénégal)</option>
                  <option value="Serbe">Serbe (Serbie)</option>
                  <option value="Seychelloise">Seychelloise (Seychelles)</option>
                  <option value="Sierra-Léonaise">Sierra-Léonaise (Sierra Leone)</option>
                  <option value="Singapourienne">Singapourienne (Singapour)</option>
                  <option value="Slovaque">Slovaque (Slovaquie)</option>
                  <option value="Slovène">Slovène (Slovénie)</option>
                  <option value="Somalienne">Somalienne (Somalie)</option>
                  <option value="Soudanaise">Soudanaise (Soudan)</option>
                  <option value="Sri-Lankaise">Sri-Lankaise (Sri Lanka)</option>
                  <option value="Sud-Africaine">Sud-Africaine (Afrique du Sud)</option>
                  <option value="Sud-Coréenne">Sud-Coréenne (Corée du Sud)</option>
                  <option value="Sud-Soudanaise">Sud-Soudanaise (Soudan du Sud)</option>
                  <option value="Suédoise">Suédoise (Suède)</option>
                  <option value="Suisse">Suisse (Suisse)</option>
                  <option value="Surinamaise">Surinamaise (Suriname)</option>
                  <option value="Swazie">Swazie (Swaziland)</option>
                  <option value="Syrienne">Syrienne (Syrie)</option>
                  <option value="Tadjike">Tadjike (Tadjikistan)</option>
                  <option value="Tanzanienne">Tanzanienne (Tanzanie)</option>
                  <option value="Tchadienne">Tchadienne (Tchad)</option>
                  <option value="Tchèque">Tchèque (Tchéquie)</option>
                  <option value="Thaïlandaise">Thaïlandaise (Thaïlande)</option>
                  <option value="Togolaise">Togolaise (Togo)</option>
                  <option value="Tonguienne">Tonguienne (Tonga)</option>
                  <option value="Trinidadienne">Trinidadienne (Trinité-et-Tobago)</option>
                  <option value="Tunisienne">Tunisienne (Tunisie)</option>
                  <option value="Turkmène">Turkmène (Turkménistan)</option>
                  <option value="Turque">Turque (Turquie)</option>
                  <option value="Tuvaluane">Tuvaluane (Tuvalu)</option>
                  <option value="Ukrainienne">Ukrainienne (Ukraine)</option>
                  <option value="Uruguayenne">Uruguayenne (Uruguay)</option>
                  <option value="Vanuatuane">Vanuatuane (Vanuatu)</option>
                  <option value="Vaticane">Vaticane (Vatican)</option>
                  <option value="Vénézuélienne">Vénézuélienne (Venezuela)</option>
                  <option value="Vietnamienne">Vietnamienne (Viêt Nam)</option>
                  <option value="Yéménite">Yéménite (Yémen)</option>
                  <option value="Zambienne">Zambienne (Zambie)</option>
                  <option value="Zimbabwéenne">Zimbabwéenne (Zimbabwe)</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Pays d'origine</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                <select name="paysOrigine" formControlName="paysOrigine" id="paysOrigine"
                  class="form-control selectpicker">
                  <option hidden>Seléctionner votre pays d'origine</option>
                  <option *ngFor="let p of pays " [value]="p.abreviation">{{p.signification}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px;">
          <h4>Contact</h4>
        </div>
        <div class="form-row">
          <!-- Text input-->
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" formControlName="email" id="email" placeholder="E-Mail Address" class="form-control"
                  type="email">
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">E-Mail UBO</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email_ubo" formControlName="emailUbo" id="emailUbo" placeholder="E-Mail Address"
                  class="form-control" type="email">
              </div>
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Mobile</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input name="num_portable" formControlName="numPortable" id="numPortable" placeholder="Mobile"
                  class="form-control" type="text">
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Fixe</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                <input name="num_fixe" formControlName="numFixe" id="numFixe" placeholder="Fixe" class="form-control"
                  type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-md-1 control-label">Adresse</label>
            <div class="col-md-12 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input name="adresse" formControlName="adresse" id="adresse" placeholder="Adresse" class="form-control"
                  type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Code Postal</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input name="code_postal" formControlName="codePostal" id="codePostal" placeholder="Code Postal"
                  class="form-control" type="text">
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Ville</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input name="ville" formControlName="ville" id="ville" placeholder="ville" class="form-control"
                  type="text">
              </div>
            </div>
          </div>
        </div>
        <div style=" border-bottom: 1px solid #aaa; margin-bottom: 15px;">
          <h4>Pédgogique</h4>
        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Groupe TP</label>
            <div class="col-md-7 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input name="groupe_tp" formControlName="groupeTp" id="groupeTp" placeholder="Groupe TP"
                  class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-4">Groupe Anglais</label>
            <div class="inputGroupContainer col-md-7">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input name="groupe_anglais" formControlName="groupeAnglais" id="groupeAnglais"
                  placeholder="Groupe Anglais" class="form-control" type="text" required="true">
              </div>
            </div>
          </div>





          <div class="form-group col-md-12">
            <label class="col-md-4 control-label">Université d'origine</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                <select name="universiteOrigine" formControlName="universiteOrigine" id="universiteOrigine"
                  class="form-control selectpicker">
                  <option hidden>Seléctionner votre université d'origine</option>
                  <option *ngFor="let u of univOrigin " [value]="u.abreviation">{{u.signification}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
        </div>

        <!-- Select Basic -->


        <!-- Button -->

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            <button type="submit" (click)="submit()" class="btn btn-success" id="btn">Ajouter <span
                class="glyphicon glyphicon-send"></span>
            </button>
          </div>
        </div>

      </fieldset>

      <div *ngIf="error" class="alert alert-danger" role="alert">
        <ul>
          <ng-container *ngFor="let m of messages">
            <ng-container *ngIf="m.exists">
              <li>{{ m.text }}</li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </form>
  </div>


</body>

</html>